



.nav_container{
    font-size: 26px;
    margin-top: 30px;
}
/* --------------nav left part-------------- */
.nav_left{
    display: flex;
    align-items: center;
    width:300px
}

.nav_head{
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-weight: 600;
}

.nav_logo{
    display: flex;
    align-items: center;
    height: 30px;
    padding-right: 10px;
    margin-left: 40px;
}

/* -------------------nav right--------------------- */
.nav_right{
    display: flex;
    justify-content: flex-end;
}
/* -------nav right: logged in------- */
.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    border-radius: 20px;
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(255, 255, 255);
    padding-top:4px;
    padding-bottom:4px;
    margin-right: 40px;
    margin-top: -36px;
}

.nav_left_username{
    font-size: 16px;
    margin-top: -28px;
    margin-right: 10px;
    color: rgb(27, 27, 27);
    font-weight: 600;
}

.fa-bars{
    font-size: 16px;
    color:rgb(139, 139, 139);
}

.fa-user-circle{
    font-size: 28px;
    color:rgb(139, 139, 139);
}
/* -------nav right: dropped down------- */
.profile-dropdown{
    position: absolute;
    border-radius: 6px;
    width: 200px;
    margin-top: 10px;
    right: 45px;
    box-shadow: 0px 8px 20px rgba(110, 110, 110, 0.25);
    padding-top: 20px;
}

.profile-dropdown > div {
    padding-bottom: 10px;
    padding-left: 12px;
    font-size: 16px;
    margin-left: 10px;
}

.dropdown_logout{
    border-top: 1px solid rgb(230, 227, 227);
    padding-top: 6px;
    padding-bottom: 12px;
}

.dropdown_logout:hover{
    cursor: pointer;
    color:rgb(236, 125, 34)
}
